html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1.5;
    padding: 12px;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    max-width: 800px;
    margin: 0 auto;
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

.margin-top-12 {
    margin-top: 12px;
}

.margin-top-24 {
    margin-top: 24px;
}

.margin-top-36 {
    margin-top: 36px;
}

.margin-top-60 {
    margin-top: 60px;
}

.margin-top-16 {
    margin-top: 16px;
}

.margin-bottom-8 {
    margin-bottom: 8px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-bottom-16 {
    margin-bottom: 16px;
}

.font-size-28 {
    font-size: 28px;
}

.font-size-20 {
    font-size: 20px;
}

.font-color-red {
    color: red;
}

.bottom-line-lime {
    border-bottom: 10px solid lime;
}

.bottom-line-red {
    border-bottom: 8px solid red;
    border-image: linear-gradient(to right, red, blue) 1;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.top-0 {
    top: 0%;
}

.top--10 {
    top: -10%;
}

.top-22 {
    top: 22%;
}

.right-25 {
    right: 25%;
}

.left-10 {
    left: 10%;
}

.z-index--1 {
    z-index: -1;
}

.width-70 {
    width: 70%;
}

.width-30 {
    width: 30%;
}

.width-50 {
    width: 50%;
}

.bottom--10 {
    bottom: -10px;
}

.inline-block {
    display: inline-block;
}

.opacity-50 {
    opacity: 0.5;
}

dd {
    margin: 12px 0;
}

.dd-radius-8 {
    border-radius: 8px;
    border: 1px solid gray;
    padding: 12px;
}

.radius-8 {
    border-radius: 8px;
    border: 1px solid gray;
    padding: 36px;
}

.text-center {
    text-align: center;
}

.d-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.flex-direction-column {
    flex-direction: column;
}

.flex-direction-row-reverse {
    flex-direction: row-reverse;
}

.align-items-end {
    align-items: flex-end;
}

.justify-content-end {
    justify-content: flex-end;
}

.gap {
    gap: 16px;
}

.wrap {
    flex-wrap: wrap;
}

img {
    max-width: 100%;
    height: auto;
}

.block {
    display: block;
}

.margin-auto {
    margin: 12px auto;
}

.section-bottom {
    border-bottom: 2px dotted blue;
    opacity: 0.2;
    padding: 16px 0;
}

.align-center {
    align-items: center;
}

ul li {
    font-size: 18px;
}

.step-1:before {
    content: '1';
    text-align: center;
    vertical-align: baseline;
    color: snow;
    font-size: 36px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: rgb(183, 34, 34);
    position: absolute;
    margin-left: -56px;
    margin-top: 4px;
}

.step-2:before {
    content: '2';
    text-align: center;
    vertical-align: baseline;
    color: snow;
    font-size: 36px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: rgb(183, 34, 34);
    position: absolute;
    margin-left: -56px;
    margin-top: 4px;
}

.step-3:before {
    content: '3';
    text-align: center;
    vertical-align: baseline;
    color: snow;
    font-size: 36px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: rgb(183, 34, 34);
    position: absolute;
    margin-left: -56px;
    margin-top: 4px;
}

.title-word {
    font-size: 36px;
}

.in-addition {
    background-color: darkgray;
    color: yellow;
    border-radius: 8px;
    font-weight: 500;
    padding: 0px 4px;
}

.notice {
    padding: 20px;
    border: dotted #32a1ce;
    margin-top: 16px;
    border-radius: 20px;
}

.warning-word {
    background-color: pink;
    color: black;
    font-size: 24px;
    /* width: 40%; */
    border-radius: 12px;
    padding: 12px;
}

.num-886 {
    background-color: red;
    color: snow;
    border-radius: 8px;
    font-weight: 500;
    padding: 0px 4px;
}

.down::after {
    content: '';
    width: 0;
    height: 0;
    border: 18px solid;
    border-color: transparent transparent rgb(24, 73, 220);
    position: absolute;
    transform: rotate(180deg);
    right: 47%;
    top: 50px;
}

.down2::after {
    content: '';
    width: 0;
    height: 0;
    border: 18px solid;
    border-color: transparent transparent rgb(24, 73, 220);
    position: absolute;
    transform: rotate(180deg);
    right: 47%;
    top: 184px;
}

.nowrap{
    white-space: nowrap;
}